html, body {
  height: 100%;
  margin: 0;
  background-color: #fff;
  font-family: 'RobotoDraft', sans-serif; }

body /deep/ .game-container {
  background-color: #3e3e41;
  margin: 0px;
  padding: 10px; }
  body /deep/ .game-container .game {
    width: 320px;
    height: 512px;
    margin: 0px auto;
    border: 1px solid rgba(0, 0, 0, 0.02);
    background-color: white; }
  body /deep/ .game-container paper-button {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.5); }
body /deep/ core-header-panel {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch; }
  body /deep/ core-header-panel /deep/ paper-button {
    min-width: 10px;
    margin: 0px; }
    body /deep/ core-header-panel /deep/ paper-button /deep/ * {
      text-transform: none;
      font-size: medium; }
body /deep/ core-toolbar {
  background: #1e8cff;
  color: #fff; }
