body /deep/
{
  * {
    font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
  }

  core-toolbar {
    background-color: #10a4cd;
    color: #fff;
    height: 40px;


    /deep/ .toolbar-tools {
      height: 40px;
    }
  }
}


